.someText{
	text-align: center;
}

.container{
	display: grid;
	grid-template-columns: 1.4fr .6fr;
	grid-template-rows: 1fr 1fr;
	justify-content: space-around;
	padding:2em 5em;
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.6)), url('../../images/medicine.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	width: 100vw;
	/*border: 10px solid;*/
}

.left{
	/*width: 130%;*/
	/*border-right: 1px solid ;*/
	grid-column-start: 1;
	grid-row-start:1;
}

.left img{
	float:left;
}

.bb{
	padding-bottom: 3em;
	border-bottom: 1px solid black;
}

.right{
	padding-left: 5em;
}

.link{
	font-size: 1em;
}

.max{
	font-size: 4rem;
}

.min{
	font-size: 1.5rem;
}

@media (max-width: 1024px) {
	.max{
		font-size: 2rem;
	}

	.min{
		font-size: 1rem;
	}

	.img{
		text-align: center;
		margin-bottom: 1em;
	}
}

@media (max-width: 768px) {
	.max{
		font-size: 2rem;
	}

	.min{
		font-size: 1rem;
	}

	li{
		/*display: none;*/
		padding-top: 1rem;
	}



	.right img{
		width: 200px;
		max-height: auto,200px;
	}
}

@media (max-width: 430px) {
	.container{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding:1em 2em;
		background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.6)), url('../../images/medicine-vertical.jpg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		justify-content: space-around;
	}

	.max{
		font-size: 2rem;
	}

	.min{
		font-size: 1rem;
	}

	li{
		/*display: none;*/
	}

	.left{
		margin-left: 0;
		/*border: 1px solid;*/
		
	}

	.order{
		padding-top: 1rem;

	}

	.right{
		text-align: center;
		/*margin-top: 2em;*/
		/*border: 1px solid;*/
		padding-left: 0;
		text-align: center;
		/*padding-top: -50px;*/
		/*border: 1px solid;*/
	}

	.right img{
		width: 80%;
		height: 80%;
		display: block;
		margin: 0;
		/*height: 50px;*/
	}


}

@media (max-width: 330px){
	.container{
		background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.6)), url('../../images/vertical-small.jpg');
		background-repeat: no-repeat;
		background-size: contain;
	}
}