.someText{
	text-align: center;
}

.container{
	display: grid;
	grid-template-columns: 1.4fr .6fr;
	grid-template-rows: 1fr 1fr;
	justify-content: space-around;
	padding:2em 5em;
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.6)), url('../../images/medicine.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

.left{
	/*width: 130%;*/
	/*border-right: 1px solid ;*/
	grid-column-start: 1;
	grid-row-start:1;
}

.left img{
	float:left;
}

.bb{
	padding-bottom: 3em;
	border-bottom: 1px solid black;
}

.right{
	padding-left: 5em;
}

.img{

	background: rgba(0, 0, 0, 0),
}

.max{
	font-size: 4em;
}

.med{
	font-size: 2em;
}

.min{
	font-size: 2em;
}
