.someText{
	text-align: center;
}

.container{
	display: flex;
	justify-content: space-around;
}

.cell{
	width: 50%;
	/*padding: 5%;	*/
	text-align: center;
	/*padding-top: 5%;*/
}

.cell img{
	display: block;
	margin: auto;
}

.left{
	border-right: 1px solid ;
}

.right{

}