.header{
	/*padding:0 1em;*/
}

img{
	height:50%;
}

.center{
	width: 100%;
	text-align: center;
	/*border: 1px solid;*/
	/*color: white;*/
	/*margin-right: auto;*/
}

.promoContainer{
	display: flex;
	justify-content: space-around;
	background-color: orange;
	/*border-bottom: 1px solid;*/
	height: 2em;
	padding-top: .2em;
}

.promo{
	/*display: inline;*/
}

@media (max-width: 800px){
	img{
		width: 50%;
	}
}

@media (max-width: 425px) {
	.promo{
		/*border-right: 1px solid;*/
		text-align: center;
	}
}