.App{
  /*background-color: #E5E5E5;*/
  width: 100vw;
  height: 100%;
  /*padding: 0 10px;*/
}

nav{
  width: 100vw;
  height: 6vh;
  /*background-color: #08C6EF;*/
  border-bottom: 1px solid;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  /*margin-right: 20px;*/
}

nav a {
  display: block;
  /*height: 6vh;*/
  padding-right: 50px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  /*color: white;*/
  align-self: center;
  text-decoration: none;
}

/*nav a:hover {
  background-color: #0b98de;
}*/

#name{
  margin-right: auto;
  padding-left: 50px; 
}

